<h1>Reset Password</h1>
<%= form_tag :action => 'reset' do %>
<p><label for = "reset_password_token">Token</label>:

<%= text_field 'user', 'reset_password_token' %></p>
<p><label for = "new_password">New Password</label>:

<%= text_field 'user', 'new_password' %></p>
<p><label for = "confirm_new_password">Confirm New Password</label>:

<%= text_field 'user', 'confirm_new_password' %></p>
<%= submit_tag "Reset Password" %>

<% end -%>